{{ define "main" }}
	{{ partial "header" . }}

	<div class="content">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-lg-8">
					<div class="mx-0 mx-md-4">
						<h1 class="fw-midbold mb-4">Liste des
							{{ .Title | lower }}
							:</h1>
					{{/*
          <hr />
          */}}
					<!-- <ul> -->
					<p class="lh-lg">
						{{ range sort $.Site.Taxonomies.genres.ByCount "Name" "asc" }}
							{{ if
                gt .Count 0 }}
								<!-- <li class="my-2"> -->
								<span class="badge rounded-pill bg-badge text-dark list-inline-item d-inline-block">
									<a href="{{ "genres"| absURL }}/{{ .Name | urlize }}">{{ .Name | humanize }}
										<small>({{ .Count }})</small>
									</a>

								</span>
								<!-- </li> -->
							{{ end }}
						{{ end }}
					</p>
					<!-- </ul> -->
				</div>
			</div>
		</div>
	</div>
</div>{{ end }}
