/* Global styles */
:root {
  --link-color: #00bfff;
  --link-color-hover: lightgreen;
  --dark-bg: rgb(0, 0, 22);
  /* --dark-bg: #222; */
  --dark-color: rgb(230, 230, 230);
  --light-bg: white;
  /* --light-bg: #eee; */
  --light-color: rgb(0, 20, 30);

  --quote-thickness: 3px;

  --mq-lg: 991.98px;

  font-size: larger;
}

@font-face {
  font-family: Ilone-Sans;
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/Ilone Sans Bold Italic.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Ilone-Sans;
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/Ilone Sans Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Ilone-Sans;
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/Ilone Sans Italic.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Ilone-Sans;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/Ilone Sans Regular.ttf") format("truetype");
  font-display: swap;
}

/* @font-face {
  font-family: mnot;
  font-weight: bold;
  font-style: normal;
  src: url('/fonts/AlteHaasGroteskBold.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: mnot;
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/AlteHaasGroteskRegular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
    font-family: 'equity_text';
    src: url('/fonts/equity_text_a_regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'equity_text';
    src: url('/fonts/equity_text_a_italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'equity_text';
    src: url('/fonts/equity_text_a_bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'equity_text';
    src: url('/fonts/equity_text_a_bold_italic.woff') format('woff');
    font-style: italic;
    font-weight: bold;
    font-display: swap;
} */

* {
  font-family: "mnot", "Ilone-Sans", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: none;
}
/*
.container {
  font-family: "equity_text" !important;
} */

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.ilone-dark {
  background-color: var(--dark-bg);
  color: var(--dark-color);
}

.ilone-light {
  background-color: var(--light-bg);
  color: var(--light-color);
}

/* link */

a,
.ilone-link {
  color: var(--link-color) !important;
  background-color: transparent !important;
  text-decoration: none;
}

a:hover,
.ilone-link:hover {
  color: var(--link-color-hover) !important;
}

* {
  scroll-margin-top: 3em;
}

.content {
  /* margin-bottom: 10ch; */
  flex: 1;
}

.content h2 {
  font-weight: bold;
}

.content h3 {
  font-weight: 500;
}

p + h3 {
  margin-top: 2rem;
}

/*
.navbar-brand{
  transition: transform 500ms ease-in-out;
  position: relative;
} */
/*
.navbar-brand:hover::before{
  position: fixed;
  content : "💣";
  top: 10px;
  left: 10px;
}

.navbar-brand:hover{
  transform: rotate(180deg);
} */

.custom-nav .nav-link {
  /* text-decoration: underline; */
  padding-left: 0px !important;
  font-size: 1rem;
  padding-left: 0.1rem;
  display: inline-block;
}
.custom-nav .nav-item {
  margin: 0.5rem;
}

.fw-midbold {
  font-weight: 600;
}

h2 {
  margin-top: 3rem;
}
h2 + h3 {
  margin-top: 1rem;
}

.go-top {
  transform: translateY(5rem);
  transition: transform 0.2s ease-in-out;
}

.go-top.show {
  transform: translateY(0);
}

.header {
  position: sticky;
  z-index: 50;
  top: 0;
}

.header ~ .content {
  margin-top: 3rem;
}

.ilone-dark .header {
  background-color: var(--dark-bg);
  color: var(--dark-color);
}

.ilone-light .header {
  background-color: var(--light-bg);
  color: var(--light-color);
}

blockquote {
  padding-left: 1rem;
  font-style: italic;
}

.ilone-dark blockquote {
  border-left: var(--dark-color) solid var(--quote-thickness);
}
.ilone-light blockquote {
  border-left: var(--light-color) solid var(--quote-thickness);
}

.bg-badge {
  background-color: var(--link-color) !important;
  color: rgb(0, 20, 30) !important;
  /* color: var(--dark-color); */
  transition: background-color 0.1s ease-in-out;
}

.bg-badge a {
  color: rgb(0, 20, 30) !important;
}

.bg-badge:hover {
  background-color: lightgreen !important;
}

.bg-badge a {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
}

code {
  padding: 1rem;
}

pre {
  padding: 0.6rem;
  border-radius: 0.5rem;
  white-space: pre-wrap;
  overflow: visible;
}

.prop-list {
  /* text-align: center; */
  line-height: 2em;
}

.prop-list .prop:not(:first-of-type)::before {
  margin: 0 0.25rem;
  content: "·";
  font-size: x-large;
  vertical-align: bottom;
  font-weight: bold;
  color: var(--link-color);
  transition: color 0.1s ease-in-out;
  /* opacity: 0.5; */
}

.prop-list .prop:not(:first-of-type):hover::before {
  color: var(--link-color-hover);
}

.custom-search {
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.84, -0.13, 0.1, 1.03);
  /* padding-right: 3.75rem; */
  position: relative;
  width: auto;
}

/* .custom-search::after {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  display: flex;
  justify-content: center;
  height: 1.5rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  font-size: 0.75rem;
  content: "Ctrl + X";
  color: white;
  border: 1px solid #dee2e6;
  border-radius: 0.125rem;
} */

.custom-search.show {
  opacity: 1;
}

.ilone-dark .custom-search {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--dark-color);
}

.ilone-light .custom-search {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--light-color);
}

.w-15ch {
  flex-basis: 15ch;
  max-width: 15ch;
}
@media (min-width: var(--mq-lg)) {
  .w-15ch {
    flex-basis: 4ch;
    max-width: 15ch;
  }
}

.results-wrapper {
  z-index: 99;
  position: fixed;
  margin-top: 0.5rem;
  top: 0rem;
  left: 50%;
  width: min(100%, 1000px);
  padding: 0 1rem;
  transform: translateX(-50%) translateY(100vh);
  transition: transform 500ms cubic-bezier(0.84, -0.13, 0.1, 1.03);
}


.results-wrapper.show {
  transform: translateX(-50%) translateY(0%);
}

.results .results-search {
  border: 0px solid transparent;
  margin: auto;
  width: 90%;
}

.ilone-dark .results .results-search {
  color: var(--dark-color) !important;
}

.ilone-light .results .results-search {
  color: var(--light-color) !important;
}

.results {
  border-radius: 0.5rem;
  padding: 0.5rem 0 1rem 0;
}

.ilone-dark .results {
  background-color: var(--dark-bg);
  color: var(--dark-color);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.ilone-light .results {
  background-color: var(--light-bg);
  color: var(--light-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.entries {
  padding: 0 2rem;
  overflow-y: auto;
  height: fit-content;
  max-height: calc(70vh - 80px);
}

.ilone-dark .entries {
  background-color: var(--dark-bg);
}

.ilone-light .entries {
  background-color: var(--light-bg);
}

.transition-spoiler {
  transition: 0.4s ease-in-out;
}

.close {
  margin-bottom: .25rem;
}

.ilone-dark .close {
  background-color: grey;
}

.ilone-light .close {
  background-color: white;
}

.result-entry{
  display: inline-block;
  line-height: 2.5rem;
}

.darken {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  pointer-events: none;
  z-index: 60;
  opacity: 0;
  transition: opacity 500ms cubic-bezier(0.84, -0.13, 0.1, 1.03);
}

.low-opacity .darken {
  opacity: 0.4;
}


.alignleft {
  float: left;
}

.alignright {
  float: right;
}