<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>
      {{ block "title" . }} {{ if .IsHome }} {{ .Site.Title }} {{ else }}
      {{.Title }} - {{ .Site.Title }} {{ end }} {{ end }}
    </title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="referrer" content="no-referrer" />
    <meta
      name="description"
      content="{{ .Description | default .Site.Params.description }}"
    />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta
      property="og:title"
      content="{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}"
    />
    <meta
      property="og:image"
      content="{{ .Site.BaseURL }}{{ .Params.meta_img | default .Site.Params.logofile }}"
    />
    <meta
      property="og:description"
      content="{{ .Description | default .Site.Params.description }}"
    />

    <link rel="canonical" href="{{ .Permalink }}" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.css" />

    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ .Site.BaseURL }}favicon/android-chrome-512x512.png"
      sizes="512x512"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ .Site.BaseURL }}favicon/android-chrome-192x192.png"
      sizes="192x192"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="{{ .Site.BaseURL }}favicon/apple-touch-icon.png"
      sizes="180x180"
    />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{{ .Site.BaseURL }}favicon/favicon.ico"
      sizes="48x48"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ .Site.BaseURL }}favicon/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{{ .Site.BaseURL }}favicon/favicon-16x16.png"
      sizes="16x16"
    />

      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
    
      <script type="module" src="{{ "js/search.js" | absURL }}"></script>

    {{ if .Site.RSSLink }}
    <link
      href="{{ .Site.RSSLink }}"
      rel="alternate"
      type="application/rss+xml"
      title="{{ .Site.Title }}"
    />
    {{ end }}
  </head>

  <body class="ilone-dark">
    <div class="darken"></div>
    {{ block "main" . }}{{ end }} 
    {{ partial "footer" . }}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script src="{{ .Site.BaseURL }}js/lightswitch.js"></script>
    <script src="{{ .Site.BaseURL }}js/gotop.js"></script>
  </body>
</html>
