{{ define "main" }}
{{ partial "header" . }}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-8">
                <div class="mx-0 mx-md-4">
                    <h1>Tags</h1>
                    <hr>
                    <ul>
                        {{ range .Site.Taxonomies.tags }}
                        <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}