{{ define "footerfiles" }}{{ end }}
{{ define "main" }}
	<section class="resume-section p-3 p-lg-5 d-flex flex-column">
		<div class="my-auto">
			<form action="{{ .Permalink }}">
				<input id="search-query" name="s"/>
			</form>
			<div id="search-results">
				<h3>Résultats de la recherche :</h3>
			</div>
		</div>
	</section>
	<script id="search-result-template" type="text/x-js-template">
		<div id="summary-${key}">
			<h3>
				<a href="${link}">${title}</a>
			</h3>
			<p>${snippet}</p>
			${ isset genres }<p>Genres: ${genres}</p>${ end }
			${ isset categories }<p>Categories: ${categories}</p>${ end }
		</div>
	</script>
{{ end }}
