{{ define "main" }} {{ partial "header" . }}

<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
        <h1 class="fw-midbold">{{ .Title }}</h1>
        <span class="text-muted mb-4 d-block"
          >Posté le {{ partial "date.html" . }}
        </span>
        <p>
          {{ if isset .Params "maj" }}
          <b class="text-muted">Mis à jour le : </b>
          <time class="text-muted"> {{ ( .Params.maj | default "") }} </time>
          {{ else }} {{ end }}
        </p>
        <div class="markdown">{{.Content}}</div>
      </div>
    </div>
  </div>
</div>

{{ end }}
