{{ define "main" }}
{{ partial "header" . }}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-8">
                <div class="mx-0 mx-md-4">
                    <h2>Reviews en lien avec : "{{ .Title }}"</h2>
                    <hr>
                    <ul>
                        {{ range .Data.Pages.ByPublishDate }}
                        <li>
                            <a href="{{.Permalink}}">{{.Title}}</a> de 
                            <b>{{.Params.author | default "Inconnu"}}</b>
                            <i>({{.Params.release_year | default "N/A"}})</i>
                        </li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}