{{ define "main" }} {{ partial "header" . }}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-8">
                <div class="mx-0 mx-md-4 posts">
                    <h1 class="fw-midbold mb-4">{{ .Title }}</h1>
                    <div>
                        <a href="https://anchor.fm/ilonehayek"><img class="img-fluid"
                                src="https://s3-us-west-2.amazonaws.com/anchor-generated-image-bank/production/podcast_uploaded_nologo400/12274148/12274148-1612446350114-a6b368e66e92c.jpg"
                                alt="Agora cover art" /></a>
                    </div>
                    <p class="lh-lg mt-3 pb-4">
                        <span class="list-inline-item d-inline-block mx-3"><a
                                href="https://podcasts.apple.com/fr/podcast/happy-hour/id1550926421?l=en"
                                target="_blank"><img src="/podcast-badges/logoa.svg" alt="Apple Podcasts logo"
                                    style="max-width: 40px" title="Ecouter sur Apple Podcasts" /></a></span><span
                            class="list-inline-item d-inline-block mx-3"><a
                                href="https://open.spotify.com/show/0UpJGCTmF0MJQQmRxIQRMh" target="_blank"><img
                                    src="/podcast-badges/logos.svg" alt="Spotify logo" style="max-width: 40px"
                                    title="Ecouter sur Spotify" /></a></span>
                        <span class="list-inline-item d-inline-block mx-3"><a
                                href="https://www.deezer.com/fr/show/3185732" target="_blank"><img
                                    src="/podcast-badges/logod.svg" alt="Deezer logo" style="max-width: 40px"
                                    title="Ecouter sur Deezer" /></a></span>
                        <span class="list-inline-item d-inline-block mx-3"><a
                                href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy80OWMxNzM5MC9wb2RjYXN0L3Jzcw=="
                                target="_blank"><img src="/podcast-badges/logog.svg" alt="Google Podcasts logo"
                                    style="max-width: 40px" title="Ecouter sur Google Podcasts" /></a></span>
                        <span class="list-inline-item d-inline-block mx-3"><a
                                href="https://youtube.com/playlist?list=PLEqZ5B6TIlaN6w1bK4V_JtRG3Lrc0sc2n"
                                target="_blank"><img src="/podcast-badges/logoyt.svg" alt="YouTube logo"
                                    style="max-width: 40px" title="Ecouter sur YouTube"/></a></span>
                    </p>
                    <div class="markdown">{{.Content}}</div>
                </div>
                <!-- <iframe
    src="https://anchor.fm/ilonehayek/embed/episodes/EP18--On-lit-des-vannes-avec-Ronan--Sacha-et-Thomas-e11flp0/a-a5lo7fk"
    height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
<iframe
    src="https://anchor.fm/ilonehayek/embed/episodes/EP17--Le-1er-film---avec-Sacha--Thomas-et-Ronan-e11c5jr/a-a5l6d9s"
    height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
<iframe
    src="https://anchor.fm/ilonehayek/embed/episodes/EP16--Casino-et-nos-annes-de-collge-avec-Octave-et-Joseph-e10uk8s/a-a5iuvd3"
    height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
<iframe src="https://anchor.fm/ilonehayek/embed/episodes/EP16-bonus--Freestyle-de-Jozehef-e10ulbp/a-a5iv5lm"
    height="102px" width="400px" frameborder="0" scrolling="no"></iframe> -->
                <!-- <div><ul>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP18--On-lit-des-vannes-avec-Ronan--Sacha-et-Thomas-e11flp0/a-a5lo7fk">EP18
            : On lit des vannes avec Ronan, Sacha et Thomas</li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP17--Le-1er-film---avec-Sacha--Thomas-et-Ronan-e11c5jr/a-a5l6d9s">EP17
            : Le 1er filmé ! avec Sacha, Thomas et Ronan</a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP16--Casino-et-nos-annes-de-collge-avec-Octave-et-Joseph-e10uk8s/a-a5iuvd3">EP16
            : Casino et nos années de collège avec Octave et Joseph</a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP16-bonus--Freestyle-de-Jozehef-e10ulbp/a-a5iv5lm">EP16 bonus :
            Freestyle de Jozehef</a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP15--La-planche--voile-avec-Ronan-et-Benjamin-e10ktvl/a-a5h99bn">EP15
            : La planche à voile avec Ronan et Benjamin
        </a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP14--Nomade-ou-sdentaire--nos-projets-de-voyages-avec-Mathilde-evn536/a-a5ce68a">EP14
            : Nomade ou sédentaire, nos projets de voyages avec Mathilde
        </a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP13--Nos-annes-de-prpa-avec-Arthur-et-Lo-eveh86/a-a5b2ajh">EP13
            : Nos années de prépa avec Arthur et Léo
        </a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP12--On-passe-un-bon-moment-avec-Elose-et-Wilan-euk9vi/a-a56vjcn">EP12
            : On passe un bon moment avec Eloïse et Wilan
        </a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP11--La-photo-argentique-avec-Ronan-eubt7j/a-a55p0p5">EP11 : La
            photo argentique avec Ronan
        </a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP10--ERASMUS-et-fitness-avec-Octave-et-Joseph-etpiac/a-a53ckc9">EP10
            : ERASMUS et fitness avec Octave et Joseph
        </a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP9--Web-bloat--Rubic-avec-Sacha-esf1rg/a-a4tvp6a">EP9 : Web
            bloat & Rubic avec Sacha
        </a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP8--Nos-tudes--architecture-et-textile-avec-Ronan-esjlqv/a-a4ugs3r">EP8
            : Nos études, architecture et textile avec Ronan
        </a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP7--Nos-pires-anecdotes-dt-avec-Joseph-ertl9r/a-a4rskjf">EP7 :
            Nos pires anecdotes d'été avec Joseph
        </a></li>
    <li class="my-1"><a href="https://anchor.fm/ilonehayek/episodes/EP6--Le-vlo-avec-Thomas-er9q3m/a-a4pqcra">EP6 : Le
            vélo avec
            Thomas
        </a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP5--Les-Jeux-Vidos-mainstream-avec-Bastien--Thomas--Walid-et-Wilan-eq8k5p/a-a4k01e4">EP5
            : Les Jeux Vidéos mainstream avec Bastien, Thomas, Walid et Wilan
        </a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP4--La-Musique-qui-nous-a-marqu-avec-Mathilde-eq8jvm/a-a4jvv7k">EP4
            : La Musique qui nous a marqué avec Mathilde
        </a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP3--Le-Rap-avec-Bastien--Thomas--Walid-et-Wilan-eq5gav/a-a4jav1c">EP3
            : Le Rap avec Bastien, Thomas, Walid et Wilan
        </a></li>
    <li class="my-1"><a
            href="https://anchor.fm/ilonehayek/episodes/EP2--Voyages--anecdotes-et-extraterrestres-avec-Elose-eplpvd/a-a4g5d7n">EP2
            : Voyages, anecdotes et extraterrestres avec Eloïse
        </a></li>
    <li class="my-1"><a href="https://anchor.fm/ilonehayek/episodes/EP1--LIA-avec-Arthur-epgkll/a-a4f4j5t">EP1 : L'IA
            avec Arthur
        </a></li>
</ul></div> -->
            </div>
        </div>
    </div>
</div>
</div>

{{ end }}