<div
  class="d-flex justify-content-end px-2 py-3 fixed-bottom container pe-none"
>
  {{ partial "gotop" . }}
</div>
<footer class="footer container mt-4">
  <hr style="z-index: -1;"/>
  {{/*
  <img
    class="d-none"
    src="https://profile-counter.glitch.me/hayek.fr/count.svg"
    alt="compteur"
    style="max-height: 20px"
  />
  */}}
  <div class="d-flex justify-content-center text-center">
    <p>
      Site généré avec
      <a href="https://gohugo.io/" alt="Hugo site">Hugo</a> -
      <a
        href="{{ .Site.Params.repohref | default }}"
        alt="{{ .Site.Params.reponame | default }}"
        >{{ .Site.Params.reponame | default "" }}</a
      >
      -
      <a href="{{ .Site.Params.repopipeline | default }}">
        <img
          class="d-inline"
          src="{{ .Site.Params.repopipelineimg | default }}"
          alt="Pipeline Gitlab"
        />
        <span class="visually-hidden">Pipeline Gitlab</span>
      </a>
      - {{ with .OutputFormats.Get "rss" -}} {{ printf `<link
        rel="%s"
        type="%s"
        href="%s"
        title="%s"
      />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }} {{ end -}}
      <a href="{{ .Site.RSSLink}}"
        ><img
          class="d-inline"
          src="{{ .Site.BaseURL }}img/rss.svg"
          width="15px"
          alt="rss"
      /></a>
    </p>
  </div>
  <div class="d-flex justify-content-center text-center">
    <p class="text-break">
      <img
        class="me-1 d-inline"
        src="{{ .Site.BaseURL }}img/ethereum-eth-logo.svg"
        width="11px"
        alt="ETH"
      />
      Adresse ETH :
      <b>0x08f25f7E52D783B13f5438b44814bF6549959a47</b>
    </p>
  </div>
  <!-- CACHE POUR L'INSTANT  -->
  <div class="visually-hidden d-flex justify-content-center text-center">
    <small>
      <a class="opacity-25" href="{{ .Site.Params.copyrighthref | default }}">
        <img
          class="d-inline"
          src="{{ .Site.Params.copyrightimg | default }}"
          alt="Pipeline Gitlab"
        />
        <span class="visually-hidden">Creative Commons</span>
      </a>
    </small>
  </div>
</footer>
