<div class="header shadow-sm">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="{{.Site.BaseURL}}"
          >{{ .Site.Params.authorLogo | default "" }} {{ .Site.Params.author |
          lower }}</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul
            class="navbar-nav flex-row flex-wrap justify-content-evenly custom-nav mx-auto"
          >
            {{ range .Site.Menus.main.ByWeight }}
            <li class="nav-item">
              {{ .Pre }}
              <a
                class="nav-link ilone-link"
                {{
                if
                (.Params.external
                |
                default
                false)
                }}
                target="_blank"
                rel="noreferrer"
                {{
                end
                }}
                href="{{ .URL }}"
              >
                {{ .Name }}
              </a>
            </li>
            {{ end }}
            <li class="nav-item">{{ partial "lightswitch" . }}</li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control custom-search bg-transparent form-control-sm w-15ch me-2 site-search show"
              type="search"
              placeholder="🔎 Crtl + X"
              aria-label="Rechercher..."
            />
          </form>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="results-wrapper">
  <button type="button" class="btn-close close" aria-label="Close"></button>
  <div class="results">
    <input
      class="form-control results-search bg-transparent my-2"
      name="result"
      id="yo"
      type="search"
      placeholder="Rechercher..."
      aria-label="Rechercher..."
    />
    <hr />
    <template class="result-entry">
      <dt><a class="result-entry" href=""></a></dt>
      <dd></dd>
      <hr />
    </template>
    <template class="no-result">
      <p class="text-center hide">Aucun résultat à afficher.</p>
    </template>
    <dl class="entries">
      <p class="text-center hide">Aucun résultat à afficher.</p>
    </dl>
  </div>
</div>
