{{ define "main" }}
<div class="container">
    <div class="my-5 text-center">
        <h1 class="mt-5">404</h1>
        <p class="mb-3">page not found</p>
        <p><a href="/">back to the homepage</a></p>
    </div>
</div>
{{ end }}