{{ define "main" }}

{{ partial "header" . }}
<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
        <div><img class="float-end ms-3"
 src="/profile3.png" alt="Photo profil" style="max-width: 160px;"
             /></div>
        <h1 class="fw-midbold mb-4">{{ .Title }}</h1>
        <div class="markdown serif-e text-wrap" style="width: 85%;">{{.Content}}</div>

        {{range first 1 site.RegularPages }}
        Mon dernier post : <a href="{{ .Permalink }}">{{.Title}}</a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{/* <img class="position-relative top-100 start-50 translate-middle-x"
  src="https://profile-counter.glitch.me/hayek.fr/count.svg" alt="compteur" style="max-height: 20px"></img> */}}
{{ end }}