{{ define "main" }} {{ partial "header" . }}

<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
        <div class="mx-0 mx-md-4 posts">
          <h1 class="fw-midbold mb-4">{{ .Title }}</h1>
          <div class="markdown">{{.Content}}</div>
          <ul>
            {{ range sort .Pages "Date" "desc" }}
            <li class="my-2">
              <a href="{{.Permalink}}">{{.Title}}</a>
              {{ if isset .Params "author" }} de
              <b>{{ .Params.author | default "N/A" }}</b>
              {{ end }}
              <!-- {{ if isset .Params "release_year" }}
                                    <i>({{.Params.release_year | default "N/A"}})</i>
                                    {{ end }} -->
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
