{{ define "main" }}
{{ partial "header" . }}

<div class="content">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-lg-8">
				<h1 class="fw-midbold mb-3">{{ .Title }}</h1>
				<section class="params mb-3">
					<p class="prop-list text-muted">
						{{ if isset .Params "author" }}
						<span class="prop">
							Réalisé par
							<b>{{ .Params.author | default "N/A" }}</b>
						</span>
						{{ end }}

						{{ if isset .Params "principal_actors" }}
						<span class="prop">
							avec
							<b>{{ .Params.principal_actors | default "N/A" }}</b>
						</span>
						{{ end }}
						{{ if isset .Params "release_year" }}
						<span class="prop">
							<b>{{ .Params.release_year | default "N/A" }}</b>
						</span>
						{{ end }}
						{{ if isset .Params "duree" }}
						<span class="prop">
							<b>{{ .Params.duree | default "N/A" }}</b>
						</span>
						{{ end }}
						{{ if isset .Params "genres" }}
						<span class="prop">
						  	{{ range .Params.genres }}
								<span class="badge rounded-pill bg-badge text-dark">
									<a href="{{ "genres" | absURL }}/{{ . | urlize }}"> {{ . }}</a>
								</span>
							{{ end }}
						</span>
					  {{ end }}
					</p>
					{{ if isset .Params "cover" }}
						{{if isset .Params.cover "source"}}
						<figure class="figure">
							<a href="{{ .Params.cover.source }}" rel="noreferrer" target="_blank">
								<img class="img-fluid rounded" src="{{ .Params.cover.img }}" alt="affiche du film"
									style="max-width: 300px;">
								<p class="visually-hidden">Cliquer pour accéder à la source de l'image</p>
							</a>
							<figcaption class="figure-caption">Cliquer pour accéder à la source de l'image</figcaption>
						</figure>
						{{ else }}
						<img class="img-fluid rounded" src="{{ .Params.cover.img }}" alt="affiche du film"
							style="max-width: 300px;">
						{{ end }}
					{{ end }}
					<p class="date text-muted">
						Posté le
						{{ partial "date.html" . }}
						{{ if isset .Params "maj" }},
							mis à jour le
							<time class="text-muted">
								{{ ( .Params.maj | default "") }}
							</time>
						{{ end }}
					</p>
				</section>
				{{ if (eq .Params.toc true) }}
				<h2 class="mt-1">Table des matières :</h2>
				{{ .TableOfContents }}
				{{ end }}
				<div class="markdown">{{.Content}}</div>
			</div>
			<div class="mt-4">
				{{ with .PrevInSection }}<p class="alignleft"><a href="{{.Permalink }}"><img src="/previous_arrow.png" style="max-width:22px" alt="previous post"> {{.Title}}</a></p>{{ end }}
				{{ with .NextInSection }}<p class="alignright"><a href="{{.Permalink }}">{{.Title}} <img src="/next_arrow.png" style="max-width:22px" alt="next post"></a></p>{{ end }}
			</div>
		</div>
	</div>
</div>
{{ end }}