{{ define "main" }} {{ partial "header" . }}

<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-lg-8">
        <h1 class="fw-midbold mb-3">{{ .Title }}</h1>
        <section class="params mb-3">
          <p class="author text-muted">
            <b>Auteur : </b>{{ .Params.author | default "ilone" }}
          </p>
          <p class="date text-muted">
            Posté le 
           {{ partial "date.html" . }}
            {{ if isset .Params "genres" }}
            <span class="me-1">dans </span>
              {{ range .Params.genres }}
              <span class="badge rounded-pill bg-badge text-dark">
                <a href="{{ "genres" | absURL }}/{{ . | urlize }}"> {{ . }}</a>
              </span>   
              {{ end }}
          {{ end }}
          </p>
        {{ if isset .Params "maj" }}
        <p class="text-muted">Mis à jour le <time class="text-muted">
          {{ ( .Params.maj | default "") }}
        </time></p>
            {{ else }}
          {{ end }}
        <div class="markdown">{{.Content}}</div>
      </section>
      </div>
      <div class="mt-4">
				{{ with .PrevInSection }}<p class="alignleft"><a href="{{.Permalink }}"><img src="/previous_arrow.png" style="max-width:22px" alt="previous post"> {{.Title}}</a></p>{{ end }}
				{{ with .NextInSection }}<p class="alignright"><a href="{{.Permalink }}">{{.Title}} <img src="/next_arrow.png" style="max-width:22px" alt="next post"></a></p>{{ end }}
			</div>
    </div>
  </div>
</div>
{{ end }}
