{{ $ID := delimit (shuffle (seq 1 9)) "" }}
<p>
  <a
    class="btn btn-primary"
    data-bs-toggle="collapse"
    href="#spoil{{$ID}}"
    role="button"
    aria-expanded="false"
    aria-controls="spoil{{$ID}}"
  >
    Spoiler
  </a>
</p>
<div class="collapse transition-spoiler" id="spoil{{$ID}}">
  {{ .Inner | .Page.RenderString (dict "display" "block")  }}
</div>
